<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="ServiceProxy" type="Interactive.Common.ProviderSection,Interactive.Common"/>
  </configSections>

  <appSettings>
    <!--Footprint login information-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="FootPrintsURL" value="http://interactivedev.fabrichq.local/MRcgi/MRWebServices.pl"/>
    <add key="FPUserName" value="admin"/>
    <add key="FPPassword" value="root"/>

    <!--Mail information-->
    <add key="MailHost" value="smtp.gmail.com"/>
    <add key="FromAddress" value="cass.fan@fabricgroup.com.au"/>
    <add key="fromAddressPwd" value="Fabric2010"/>
    <add key="FPSucessMail" value="ken.cliche@fabricgroup.com.au"/>
    
    <!--Token expire time (hours)-->
    <add key="TokenExpire" value="24"/>
    <add key="TokenLoginExpire" value="0.5"/>
    <add key="TokenForgetPwdExpire" value="24"/>
  </appSettings>

  <connectionStrings>
    <add name="FootprintsMobileAppConnection" providerName="System.Data.SqlClient" connectionString="Data Source=alpha;database=Footprints-MobileApp;uid=sa;pwd=Fabric2011" />
  </connectionStrings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\logfile.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %newline %date %level - %message%n" />
      </layout>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\error\errorlog.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline %newline %date %level - %message%n" />
      </layout>
    </appender>
    <logger name="InfoFile">
      <level value="All" />
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="ErrorFile">
      <level value="All" />
      <appender-ref ref="ErrorFileAppender"/>
    </logger>
  </log4net>

  <ServiceProxy defaultProvider="Footprints">
    <providers>
      <add name ="Footprints" type="Services.Manager.FootprintsV11Manager, Services" />
      <add name ="UnitTest" type="Services.Manager.FootprintsTestManager, Services" />
    </providers>
  </ServiceProxy>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Services.LoginWCFService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Services.ILoginWCFService"
                  behaviorConfiguration="CustomerEndPointBehavior"/>
      </service>

      <service name="Services.RegistrationWCFService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Services.IRegistrationWCFService"
                  behaviorConfiguration="CustomerEndPointBehavior"/>
      </service>

      <service name="Services.OperateIncidentWCFService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Services.IOperateIncidentWCFService"
                  behaviorConfiguration="CustomerEndPointBehavior"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>

        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CustomerEndPointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>


  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <add name="UrlRoutingModule"
           type="System.Web.Routing.UrlRoutingModule, 
          System.Web.Routing, Version=4.0.0.0, Culture=neutral, 
          PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="UrlRoutingHandler"
         preCondition="integratedMode"
         verb="*" path="UrlRouting.axd"
         type="System.Web.HttpForbiddenHandler, 
         System.Web, Version=4.0.0.0, Culture=neutral, 
         PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>

  </system.webServer>

</configuration>
