<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceProxy" type="Interactive.Common.ProviderSection,Interactive.Common"/>
  </configSections>

  <ServiceProxy defaultProvider="UnitTest">
    <providers>
      <add name ="Footprints" type="Services.Manager.FootprintsV11Manager, Services" />
      <add name ="UnitTest" type="Services.Manager.FootprintsTestManager, Services" />
    </providers>
  </ServiceProxy>
</configuration>