// Interactive Variables
// --------------------------

$interactive_blue: #005DAA;
$interactive_darkblue: #00335d;
$interactive_lightblue: #3498DB;
$interactive_lightgrey: #CCCCCC;
$interactive_greyblue : #718a99;
$interactive_grey: #858585;
$interactive_midgrey: #aaaaaa;
$interactive_palegrey: #F6F6F6;



$Montserrat: 'Montserrat',sans-serif;
$Roboto: 'Roboto Slab', serif;