<ion-view title="">
  <ion-content class="has-header">
    <div class="jumbotron">
      <div class="app-title padding">Service View</div>
    </div>
    <h2 class="has-notes padding-left">Forgot Password Error</h2>
    <p class="notes padding-left padding-right">
      The email you have entered was not assicoated with any account, please check if what you have entered is correct or call our service representative on 1300 669 670 to confirm.
    </p>
    <div class="button-group padding text-center">
      <a href="#/app/password/forgot" class="btn btn_full_width">Back</a>
    </div>
  </ion-content>
</ion-view>