<ion-view title="" id="register">
  <ion-content class="has-header result-msg" id="register">
    <h2 class="text-center padding-top">Register Your Details</h2>
    <p class="padding-left padding-right">
      Your email was successfully found,thank you for registering your details.
    </p>
    <p class="padding-left padding-right">
      Your will recieve an email confirmation shortly with instructions on creating you password.
    </p>
    <div class="button-group padding text-center">
      <button type="submit" class="btn btn_full_width" ng-click="doSubmit()">Submit <i class="icon ion-ios-arrow-forward"></button>
    </div>
  </ion-content>
</ion-view>